---
title: Restrukturyzacje Firm - Restrukturyzacje Karolina Kamińska
layout: "base.njk"
cssPath: '../../dist/css/'
cssFile: 'restrukturyzacje.min.css'
favIcon: "../../dist/images/favIcon.png"
---

    <article class="mainArticle">
          <header class="wrapper">
        <nav class="nav wrapper">
          <div class="nav__logo">
            <p>
              Restrukturyzacje <br />
              <span
                style="
                  color: #fca311;
                  font-family: 'Charmonman', cursive;
                  font-weight: bold;
                "
                >Kamińska</span
              >
            </p>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../../index.html" class="nav__link">Strona Główna</a>
            </li>
            <li class="nav__item nav__item--dropdown">
              <a href="../../../index.html#uslugi" class="nav__link" id="services"
                >Usługi <span class="nav__link-arrow">&#9662;</span></a
              >
              <ul class="nav__dropdown">
                <li class="nav__dropdown-item">
                  <a
                    href="../../../uslugi/restrukturyzacje-firm/index.html"
                    class="nav__dropdown-link"
                    >Restrukturyzacja Firm</a
                  >
                </li>
                <li class="nav__dropdown-item">
                  <a
                    href="../../../uslugi/upadlosc-konsumencka/index.html"
                    class="nav__dropdown-link"
                    >Upadłość Konsumencka</a
                  >
                </li>
                <li class="nav__dropdown-item">
                  <a
                    href="../../../uslugi/upadlosc-gospodarcza/index.html"
                    class="nav__dropdown-link"
                    >Upadłość Gospodarcza</a
                  >
                </li>
                <li class="nav__dropdown-item">
                  <a
                    href="../../../uslugi/obsluga-firm/index.html"
                    class="nav__dropdown-link"
                    >Obsługa Firm</a
                  >
                </li>
                <li class="nav__dropdown-item">
                  <a
                    href="../../../uslugi/mediacje/index.html"
                    class="nav__dropdown-link"
                    >Mediacje</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav__item">
              <a href="../../../index.html#o-nas" class="nav__link">O Nas</a>
            </li>
            <li class="nav__item">
              <a href="../../../publikacje/aktualnosci/index.html" class="nav__link"
                >Aktualności</a
              >
            </li>
            <li class="nav__item">
              <a href="../../../komunikaty/index.html" class="nav__link">Komunikaty</a>
            </li>
            <li class="nav__item">
              <a href="../../../index.html#kontakt" class="nav__link-contact"
                >Kontakt</a
              >
            </li>
          </ul>
        </nav>
        <!-- nav mobile -->
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="logoMobile">
          <p>
            Restrukturyzacje <br />
            <span
              style="
                color: #fca311;
                font-family: 'Charmonman', cursive;
                font-weight: bold;
              "
              >Kamińska</span
            >
          </p>
        </div>
      </header>

      <main class="main">
        <div class="container wrapper">
          <h1 class="container-title">Restrukturyzacje firm</h1>
          <img
            class="container-img"
            src="https://picsum.photos/700/300"
            alt=""
          />
          <p class="container-article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            accusamus consequatur fugiat doloremque voluptatibus iusto nemo,
            sunt ipsam cumque iure vel laudantium quibusdam dolorem quaerat
            repellendus, veniam voluptate quis cum. Corrupti omnis reprehenderit
            perferendis odit fugit eum hic illum quas nulla praesentium ut totam
            aperiam repellendus molestias laudantium dolorem optio, enim
            dolores, voluptas, commodi voluptate incidunt ea in officia?
            Architecto. Voluptatibus distinctio quas officia optio tenetur eum
            nemo dolorum, eligendi ullam corporis possimus natus vitae quod
            quidem deleniti tempora necessitatibus saepe eius quisquam quibusdam
            modi ut voluptates temporibus porro. Assumenda? Laborum minima earum
            illum pariatur commodi! Exercitationem accusantium, maxime, nihil
            illum inventore quam iste fugit eum deserunt repellendus, delectus
            vel blanditiis laudantium sed odit aperiam. Delectus nesciunt
            molestias autem vitae. Rerum quidem odio enim magni sit assumenda
            officiis sequi vel saepe, excepturi illo illum ut placeat possimus
            eveniet sed, adipisci minima tenetur veniam distinctio dolores nemo
            fuga. Fugiat, perspiciatis reiciendis.
            <br />
            <span class="container-article--line"></span>
            <br />
            <strong>Cupiditate</strong> harum necessitatibus, similique
            doloribus temporibus eum voluptatem ratione animi dolor voluptatibus
            ducimus iure a minus ab ad. Maxime saepe eius ex repudiandae? Eos
            ducimus porro repudiandae, repellendus animi reiciendis. Beatae,
            nulla, accusamus facere molestiae repellendus quos accusantium
            cumque, incidunt sit fuga voluptatibus ratione. Corporis ullam, odio
            ab minima nulla quam dolorem quo perspiciatis saepe minus ad
            excepturi esse iusto! Dignissimos soluta cumque asperiores voluptas
            eaque officia consequatur earum repudiandae nam optio omnis
            accusamus dolorum provident distinctio iure dolores, odit officiis
            expedita quo quia totam <strong>exercitationem</strong>, autem
            molestias. Velit, accusantium.
            <br />
            <span class="container-article--line"></span>
            <br />
            Mollitia consectetur iure maiores maxime quod perferendis laudantium
            nulla labore ex accusantium qui doloremque consequatur, ipsa et hic
            dolorem minima fuga magnam delectus aliquam commodi minus, ullam,
            necessitatibus quibusdam! Voluptatum? Labore, magnam! Beatae
            repudiandae fugiat nam, amet blanditiis perferendis rerum molestiae
            error vero incidunt dolores eveniet adipisci possimus? Eligendi
            earum cum officiis, modi doloremque illum quos culpa pariatur soluta
            ratione. Alias voluptatibus cum quidem voluptate magni quasi maiores
            reprehenderit porro vero nemo dicta, distinctio, commodi architecto
            aut vitae! Nobis velit assumenda at dolor labore odio officiis
            nesciunt sit vel architecto? Vitae ducimus veritatis nisi quaerat
            quia consectetur. Odio optio assumenda necessitatibus ea veniam
            maxime dolorem magnam. Alias cupiditate quisquam delectus aliquid
            natus quos, possimus, non doloremque veniam perspiciatis dignissimos
            maxime. A cum quisquam quidem doloremque fugit, aut saepe
            voluptatibus fugiat, molestias, sit beatae fuga magni corrupti
            tempore praesentium repudiandae repellendus accusantium suscipit
            minima reiciendis! Possimus eligendi recusandae impedit accusamus
            commodi.
          </p>
        </div>
      </main>
    </article>
    <button class="scrollToTopBtn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-up"
      >
        <line x1="12" y1="19" x2="12" y2="5"></line>
        <polyline points="5 12 12 5 19 12"></polyline>
      </svg>
    </button>

  <script defer src="../../../dist/js/script.min.js"></script>
