---
title: Strona Główna - Restrukturyzacje Karolina Kamińska
layout: "base.njk"
favIcon: "./dist/images/favIcon.png"
description: "Profesjonalna restrukturyzacja firm – pomagamy firmom w trudnej sytuacji finansowej, oferując kompleksowe rozwiązania naprawcze, redukcję kosztów i optymalizację działań. Skuteczne wsparcie w odzyskaniu płynności finansowej."
---
<article class="mainArticle">
  <!-- header -->
  <header class="wrapper">
    <nav class="nav wrapper">
      <div class="nav__logo">
        <p>
          Restrukturyzacje <br />
          <span
            style="
              color: #fca311;
              font-family: 'Charmonman', cursive;
              font-weight: bold;
            "
            >Kamińska</span
          >
        </p>
      </div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Strona Główna</a>
        </li>
        <li class="nav__item nav__item--dropdown">
          <a href="#uslugi" class="nav__link" id="services"
            >Usługi <span class="nav__link-arrow">&#9662;</span></a
          >
          <ul class="nav__dropdown">
            <li class="nav__dropdown-item">
              <a
                href="./uslugi/restrukturyzacje-firm/index.html"
                class="nav__dropdown-link"
                >Restrukturyzacja Firm</a
              >
            </li>
            <li class="nav__dropdown-item">
              <a
                href="./uslugi/upadlosc-konsumencka/index.html"
                class="nav__dropdown-link"
                >Upadłość Konsumencka</a
              >
            </li>
            <li class="nav__dropdown-item">
              <a
                href="./uslugi/upadlosc-gospodarcza/index.html"
                class="nav__dropdown-link"
                >Upadłość Gospodarcza</a
              >
            </li>
            <li class="nav__dropdown-item">
              <a href="./uslugi/obsluga-firm/index.html" class="nav__dropdown-link"
                >Obsługa Firm</a
              >
            </li>
            <li class="nav__dropdown-item">
              <a href="./uslugi/mediacje/index.html" class="nav__dropdown-link"
                >Mediacje</a
              >
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#o-nas" class="nav__link">O Nas</a>
        </li>
        <li class="nav__item">
          <a href="#aktualnosci" class="nav__link">Aktualności</a>
        </li>
        <li class="nav__item">
          <a href="./komunikaty/index.html" class="nav__link">Komunikaty</a>
        </li>
        <li class="nav__item">
          <a href="#kontakt" class="nav__link-contact">Kontakt</a>
        </li>
      </ul>
    </nav>
    <!-- nav mobile -->
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="logoMobile">
      <p>
        Restrukturyzacje <br />
        <span
          style="
            color: #fca311;
            font-family: 'Charmonman', cursive;
            font-weight: bold;
          "
          >Kamińska</span
        >
      </p>
    </div>
  </header>
  <!-- main section -->
  <main class="main wrapper">
    <div class="left">
      <h1 class="left__title">
        Restrukturyzacje <br />
        <span class="left__title-modifier">Karolina Kamińska</span>
      </h1>
      <p class="left__subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A iste,
        temporibus natus, facere iusto porro, quia soluta aspernatur sed
        distinctio consequatur necessitatibus minima assumenda repudiandae.
        Cupiditate totam exercitationem debitis quae alias? Qui hic quis a!
      </p>
      <div class="left__button">
        <a href="#kontakt" class="left__button-item left__button-item-contact">
          Skontaktuj się
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              class="left__button-icon"
              viewBox="0 0 24 24"
              strokeWidth="3"
              stroke="currentColor"
              className="size-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
              />
            </svg>
          </span>
        </a>
        <a href="#o-nas" class="left__button-item">
          O kancelarii
          <span
            ><svg
              class="left__button-icon"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="3"
              stroke="currentColor"
              className="size-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="right">
      <img src="./dist/images/4.jpg" alt="" class="right__img" />
    </div>
  </main>
</article>

<!-- services -->
<section class="services" id="uslugi">
  <div class="services__information">
    <h2 class="services__information-title" data-aos="fade-right">
      W czym mogę pomóc?
    </h2>
    <p class="services__information-subtitle" data-aos="fade-left">usługi</p>
  </div>
  <div class="services__container">
    <div class="services__container-flex">
      <a
        href="./uslugi/restrukturyzacje-firm.html"
        class="services__container-item"
      >
        <svg
          class="services__container-item--image"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-activity"
        >
          <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
        </svg>
        <h3 class="services__container-item--title">Restrukturyzacja firm</h3>
      </a>
      <a href="/uslugi/obsluga-firm.html" class="services__container-item">
        <svg
          class="services__container-item--image"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-sliders"
        >
          <line x1="4" y1="21" x2="4" y2="14"></line>
          <line x1="4" y1="10" x2="4" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="12"></line>
          <line x1="12" y1="8" x2="12" y2="3"></line>
          <line x1="20" y1="21" x2="20" y2="16"></line>
          <line x1="20" y1="12" x2="20" y2="3"></line>
          <line x1="1" y1="14" x2="7" y2="14"></line>
          <line x1="9" y1="8" x2="15" y2="8"></line>
          <line x1="17" y1="16" x2="23" y2="16"></line>
        </svg>
        <h3 class="services__container-item--title">Obsługa firm</h3>
      </a>
      <a href="/uslugi/mediacje.html" class="services__container-item">
        <svg
          class="services__container-item--image"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-mic"
        >
          <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path>
          <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
          <line x1="12" y1="19" x2="12" y2="23"></line>
          <line x1="8" y1="23" x2="16" y2="23"></line>
        </svg>
        <h3 class="services__container-item--title">Mediacje</h3>
      </a>
    </div>
    <div class="services__container-flex">
      <a
        href="/uslugi/upadlosc-konsumencka.html"
        class="services__container-item"
      >
        <svg
          class="services__container-item--image"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-book-open"
        >
          <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
          <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
        </svg>
        <h3 class="services__container-item--title">Upadłość konsumencka</h3>
      </a>
      <a
        href="/uslugi/upadlosc-gospodarcza.html"
        class="services__container-item"
      >
        <svg
          class="services__container-item--image"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-archive"
        >
          <polyline points="21 8 21 21 3 21 3 8"></polyline>
          <rect x="1" y="3" width="22" height="5"></rect>
          <line x1="10" y1="12" x2="14" y2="12"></line>
        </svg>
        <h3 class="services__container-item--title">Upadłość gospodarcza</h3>
      </a>
    </div>
  </div>
</section>

<!-- motto -->
<section class="motto">
  <div class="motto__title">
    <h3 class="motto__title-item">
      Pomagam w
      <strong class="motto__title-item--modifier">oddłużaniu</strong> Firm i
      spółek
    </h3>
  </div>
</section>

<!-- about -->
<section class="about" id="o-nas">
  <div class="about__main wrapper">
    <div class="about__main-flex">
      <div class="about__main-item first" data-aos="fade-right">
        <img
          class="about__main-photo"
          src="https://picsum.photos/380/300"
          alt=""
        />
      </div>
      <div class="about__main-item second">
        <p class="about__main-item--subTitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
          tenetur, dolorem, velit laborum adipisci unde aut explicabo saepe
          doloribus minus quae nihil consequuntur.
        </p>
        <p class="about__main-item--titles">
          Doradca Restrukturyzacyjny <br />
          & Radca Prawny
        </p>
      </div>
    </div>
    <div class="about__main-flex">
      <div class="about__main-item third">
        <p class="about__main-item--subTitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
          tenetur, dolorem, velit laborum adipisci unde aut explicabo saepe
          doloribus minus consequuntur.
        </p>
        <p class="about__main-item--titles">
          Doradca Restrukturyzacyjny <br />
          & Radca Prawny
        </p>
      </div>
      <div class="about__main-item fourth" data-aos="fade-left">
        <p>
          Restrukturyzacje <br />
          <span
            style="
              color: #fca311;
              font-family: 'Charmonman', cursive;
              font-weight: bold;
            "
            >Kamińska</span
          >
        </p>
      </div>
    </div>
  </div>
</section>

<!-- news -->
<section class="news" id="aktualnosci">
  <div class="information wrapper">
    <h4 class="information__title">Restrukturyzacja w Praktyce</h4>
    <p class="information__subTitle">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus,
      aspernatur animi quisquam fuga quod quae ullam!
    </p>
    <a href="./publikacje/aktualnosci/index.html" class="information__button"
      >Poznaj moje publikacje</a
    >
  </div>
  <div class="articles wrapper">

  {%- set maxPosts = 6 -%}
  {%- set postCount = 0 -%}
  {%- for post in collections.post | reverse -%}
    {%- if postCount < maxPosts -%}
      <div class="article">
        <a href="{{ post.url }}" class="article__link">
          <img
            src="{{ post.data.image }}"
            alt="{{ post.data.imageAlt }}"
            class="article__link-img"
          />
        </a>
        <h5 class="article__title">{{ post.data.title }}</h5>
        <p class="article__date">{{ post.data.date | postDate }}</p>
        <p class="article__description">{{ post.data.description }}..</p>
      </div>
      {%- set postCount = postCount + 1 -%}
    {%- endif -%}
  {%- endfor -%}

  </div>
</section>

<section class="map">
  <h6 class="map-title">Sprawdź jak trafić do kancelarii:</h6>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2396.593679220076!2d22.5534288!3d51.24854049999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722571b76750339%3A0xe0e1f452cdafe8f9!2sAdwokat%20Karolina%20Kami%C5%84ska!5e1!3m2!1spl!2spl!4v1725449823844!5m2!1spl!2spl"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>

<button class="scrollToTopBtn">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="35"
    height="30"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-arrow-up"
  >
    <line x1="12" y1="19" x2="12" y2="5"></line>
    <polyline points="5 12 12 5 19 12"></polyline>
  </svg>
</button>
<script src="../dist/js/script.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
