@import "common.scss";

body {
  position: relative;
  color: $darkColor;
  overflow-x: hidden;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  height: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;

    &-title {
      font-size: clamp(1.7rem, 3.6rem, 3.4rem);
      background: #161920;
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      letter-spacing: 1.3px;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      background: linear-gradient(
        to right,
        $darkColor 0%,
        $goldColor 50%,
        $darkColor 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 850px) {
        font-size: clamp(1.9em, 2.2rem, 2.4rem);
        text-align: center;
      }
    }
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
    width: 100%;

    .article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      color: $darkColor;
      width: 600px;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      transition: all 0.4s ease;

      &:hover {
        background-color: #ececec;

        .article__readMore svg {
          transform: translateX(0.5rem);
        }
      }

      @media (max-width: 850px) {
        width: 350px;
      }

      &__link {
        position: relative;
        display: block;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 0.5rem;
        text-decoration: none;
        color: $darkColor;

        &-img {
          object-fit: cover;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          max-width: 100%;
        }
      }

      &__title {
        font-family: "Cormorant Garamond", serif;
        font-size: clamp(1.1rem, 1.3rem, 1.5rem);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        text-align: center;
      }

      &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        margin-bottom: 0.5rem;
        font-size: clamp(1.1rem, 1.2rem, 1.4rem);
        text-decoration: underline;

        &-item {
          margin-left: 0.3rem;

        }
      }

      &__description {
        font-family: "Cormorant Garamond", serif;
        font-size: clamp(1.1rem, 1.3rem, 1.5rem);
        text-align: center;
      }

      &__readMore {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        font-family: "Cormorant Garamond", serif;
        font-size: clamp(1.1rem, 1.3rem, 1.5rem);
        text-decoration: none;
        padding: 1rem;
        color: $goldColor;

        svg {
          transition: transform 0.3s ease;
          margin-left: 0.25rem;
        }
      }
    }
  }
}
