$primaryColor: #f5f5f5;
$darkColor: #262a35;
$brighterDarkColor: #424547;
$goldColor: #fcb900;
@import "navFooter.scss";

// main
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem;
  overflow-x: hidden;
  height: 90vh;

  @media (max-width: 1200px) {
    height: auto;
  }

  @media (max-width: 850px) {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 0.5rem;
    padding-top: 2rem;
  }

  .left {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 60%;
    margin-left: -0.5rem;

    @media (max-width: 1200px) {
      width: 50%;
    }

    @media (max-width: 992px) {
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    @media (max-width: 850px) {
      width: 100%;
      margin-left: 0rem;
    }

    &__title {
      font-size: clamp(1.7rem, 3.6rem, 3.4rem);
      background: #161920;
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      letter-spacing: 1.3px;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      background: linear-gradient(
        to right,
        $darkColor 0%,
        $goldColor 50%,
        $darkColor 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &-modifier {
        font-weight: bold;
        letter-spacing: 3px;
      }

      @media (max-width: 1150px) {
        font-size: clamp(1.7rem, 3rem, 3.3rem);
      }

      @media (max-width: 850px) {
        margin-bottom: 0.6rem;
        margin-top: 3rem;
      }

      @media (max-width: 480px) {
        font-size: 1.8rem;
      }
    }

    &__subtitle {
      font-size: clamp(1.4rem, 1.7vw, 2.1rem);
      margin-bottom: 1.5rem;
      line-height: 2.2rem;
    }

    &__button {
      display: flex;
      flex-wrap: wrap;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(1.1rem, 1.4rem, 1.7rem);
        margin-right: 1.5rem;
        padding: 0.9rem;
        border-radius: 5px;
        border: 2px solid $goldColor;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          -webkit-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
          -moz-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
          box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
          transform: scale(1.03);
        }

        &:last-child {
          margin-right: 0;
        }

        &-contact {
          background-color: $goldColor;
        }

        @media (max-width: 480px) {
          margin-right: 0.5rem;
          padding: 0.75rem;
          font-size: 1rem;
        }
      }

      &-icon {
        width: 25px;
        height: 25px;
        margin-bottom: -6px;
        margin-left: 0.4rem;
      }

      @media (max-width: 992px) {
        margin-bottom: 2rem;
      }
    }
  }

  .right {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 450px;
    max-height: 600px;

    @media (max-width: 850px) {
      width: 40%;
      max-width: 100%;
    }

    @media (max-width: 780px) {
      width: 50%;
      max-width: 100%;
    }

    @media (max-width: 700px) {
      width: 60%;
      max-width: 100%;
    }

    @media (max-width: 600px) {
      width: 65%;
      max-width: 100%;
    }

    @media (max-width: 500px) {
      width: 70%;
      max-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -18px;
      left: 18px;
      width: 100%;
      height: 100%;
      background-color: $goldColor;
      z-index: 0;
      border-radius: 10px;
    }

    &__img {
      position: relative;
      display: block;
      width: 100%;
      max-height: 600px;
      height: auto;
      border-radius: 10px;
      z-index: 1;
    }
  }
}

// services
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  overflow-x: hidden;
  background-color: $primaryColor;
  background-image: url("../images/backgroundDesktopLeft.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 850px) {
    height: 100%;
    background-image: url("../images/backgroundMobileLeft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__information {
    text-align: center;
    margin-top: 1rem;
    &-title {
      font-family: "Cormorant Garamond", serif;
      font-size: clamp(1.6rem, 2.8rem, 3rem);
      font-weight: 300;
      text-transform: uppercase;

      @media (max-width: 850px) {
        font-size: clamp(1.5rem, 1.9rem, 1.8rem);
      }
    }

    &-subtitle {
      font-family: "Cormorant Garamond", serif;
      font-weight: bold;
      color: $goldColor;
      text-transform: uppercase;
      font-size: clamp(1.4rem, 1.9rem, 2rem);

      @media (max-width: 850px) {
        font-size: clamp(1.5rem, 1.9rem, 1.8rem);
      }
    }
  }

  &__container {
    width: 100%;

    &-flex {
      display: flex;
      justify-content: center;

      @media (max-width: 850px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 400px;
      height: 280px;
      cursor: pointer;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
      color: $darkColor;
      transition: all 0.3s ease;

      @media (max-width: 1000px) {
        width: 350px;
      }

      @media (max-width: 992px) {
        width: 300px;
      }

      @media (max-width: 850px) {
        width: 80%;
        height: 200px;
        &:last-child {
          margin-bottom: 1.8rem;
        }
      }

      &:hover {
        background-color: #ecebeb;
      }

      &--image {
        width: 60px;
        height: 60px;
        color: $goldColor;
        filter: drop-shadow(1.5px 0 1px black);
      }

      &--title {
        display: block;
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 1rem;
        font-size: clamp(1.6rem, 1.8rem, 2rem);
        border-top: 3px solid $goldColor;
        width: 300px;
        padding: 0.5rem;
        height: 20%;

        @media (max-width: 992px) {
          font-size: 1.5rem;
          width: 250px;
        }

        @media (max-width: 850px) {
          font-size: clamp(1.5rem, 1.7rem, 1.8rem);
          width: 300px;
        }

        @media (max-width: 480px) {
          font-size: 1.5rem;
          width: 280px;
        }
      }
    }
  }
}

//motto
.motto {
  overflow-x: hidden;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-image: url("../images/backgroundFooter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5rem;

    &-item {
      text-align: center;
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: clamp(1.6rem, 2.7rem, 2.5rem);
      letter-spacing: 1px;

      @media (max-width: 480px) {
        font-size: 1.7rem;
        width: 400px;
      }

      &--modifier {
        font-family: "Cormorant Garamond", serif;
        font-weight: bold;
      }
    }
  }
}

// about
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  height: 100svh;
  background-image: url("../images/backgroundDesktopRight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 850px) {
    margin-top: 0rem;
    height: 100%;

    background-image: url("../images/backgroundMobileRight.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__main {
    &-photo {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    &-flex {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 850px) {
        flex-direction: column;
      }
    }

    &-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 750px;
      height: 300px;

      @media (max-width: 1200px) {
        width: 550px;
        height: 300px;
      }

      @media (max-width: 1150px) {
        width: 500px;
        height: 300px;
      }

      @media (max-width: 1090px) {
        width: 480px;
        height: 300px;
      }

      @media (max-width: 1000px) {
        width: 440px;
        height: 300px;
      }

      @media (max-width: 930px) {
        width: 410px;
        height: 300px;
      }

      @media (max-width: 850px) {
        width: 350px;
        height: 180px;
        text-align: center;
      }

      &--subTitle {
        font-size: clamp(1.2rem, 1.4rem, 1.6rem);
        text-wrap: wrap;
        padding: 1.3rem;
        margin-top: -2rem;
        font-weight: 300;

        @media (max-width: 850px) {
          margin-top: 0rem;
          padding: 0rem;
          font-size: 1.1rem;
        }
      }

      &--titles {
        font-size: clamp(1.3rem, 1.4rem, 1.5rem);
        text-wrap: wrap;
        padding: 1.3rem;
        font-weight: 400;
        color: $brighterDarkColor;
        text-align: right;
        font-style: italic;
        font-family: "Cormorant Garamond", serif;

        @media (max-width: 850px) {
          margin-top: 0rem;
          font-size: 1.1rem;
        }
      }

      &.first {
        box-shadow: 6px 6px 10px 3px #dddddd;
        @media (max-width: 850px) {
          box-shadow: none;
        }
      }

      &.fourth {
        font-size: clamp(1.9rem, 2.1rem, 2.4rem);
        box-shadow: 6px 6px 10px 3px #dddddd;
        background-color: $brighterDarkColor;
        text-align: center;
        color: $primaryColor;
      }

      &.second {
        border-radius: 0px 150px 0px 0;
      }

      &.third {
        border-radius: 0px 0px 0px 150px;
      }

      &.second,
      &.third,
      &.fourth {
        box-shadow: 6px 6px 10px 3px #dddddd;
        @media (max-width: 850px) {
          box-shadow: none;
          border-radius: 0;
        }
      }

      @media (max-width: 850px) {
        width: 100vw;
        height: 25vh;
      }
    }
  }
}

// news
.news {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-image: url("../images/backgroundDesktopLeft.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  @media (max-width: 850px) {
    background-image: url("../images/backgroundMobileLeft.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0rem;
    height: 100%;
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 10vh;

    @media (max-width: 1200px) {
      gap: 1rem;
    }

    @media (max-width: 850px) {
      text-align: center;
      flex-direction: column;
      height: 100%;
    }

    &__title {
      font-family: "Cormorant Garamond", serif;
      font-size: clamp(1.5rem, 2.4rem, 2.7rem);
      font-weight: 300;
      text-transform: uppercase;

      @media (max-width: 1150px) {
        font-size: clamp(1.5rem, 1.9rem, 1.8rem);
      }
    }

    &__subTitle {
      font-family: "Cormorant Garamond", serif;
      font-size: clamp(1.2rem, 1.4rem, 1.5rem);
      font-weight: 300;
      text-transform: uppercase;

      @media (max-width: 1150px) {
        font-size: 1.1rem;
      }
    }

    &__button {
      font-size: clamp(1.1rem, 1.3rem, 1.5rem);
      padding: 0.9rem;
      width: 400px;
      border-radius: 5px;
      background-color: $goldColor;
      border: 2px solid $goldColor;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        -webkit-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
        -moz-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
        box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
        transform: scale(1.03);
      }

      @media (max-width: 1150px) {
        font-size: 1.1rem;
        width: 300px;
      }
    }
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
    width: 100%;

    .article {
      width: 400px;

      @media (max-width: 850px) {
        width: 350px;
      }

      &__link {
        position: relative;
        display: block;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 0.5rem;
        text-decoration: none;
        color: $darkColor;

        &-img {
          object-fit: cover;
          transition: all 0.3s ease;
          height: 100%;

          &:hover {
            transform: scale(1.05);
            filter: grayscale(50%);
          }
        }
      }

      &__title {
        font-family: "Cormorant Garamond", serif;
        font-size: clamp(1.1rem, 1.3rem, 1.5rem);
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      &__date {
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: clamp(1.1rem, 1.2rem, 1.4rem);
      }

      &__description {
        font-family: "Cormorant Garamond", serif;
        font-size: clamp(1.1rem, 1.3rem, 1.5rem);
      }
    }
  }
}

// scroll button
.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: $goldColor;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
  z-index: 2000;

  &:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
    -moz-box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);
    box-shadow: 8px 8px 28px -16px rgba(252, 163, 17, 1);

    svg {
      transform: rotate(360deg);
    }
  }

  & svg {
    transition: all 0.4s ease;
  }
}
